body {
	background: #000d56;
}

#header-bar  {
    position: fixed;
    margin: 0;
    padding: 7px;
    background: #44347a;
    left: 0;
    right: 0;
    top: 0;
    color: #eee;
    text-align: center;
}

#mainContainer {
	margin-top: 60px;
}

#home-btn-panel {
	margin-top: 140px;
}

.cell {
	max-height: 200px;
	padding: 5px;
}

#cell-4,
#cell-5,
#cell-6,
#cell-7,
#cell-8,
#cell-9 {
	border-top: 2px solid #999;
}


#cell-1,
#cell-2,
#cell-4,
#cell-5,
#cell-7,
#cell-8 {
	border-right: 2px solid #999;
}

.cell-inner {
    border: 5px outset #649cf2;
    height: 100%;
    width: 100%;
    text-align: center;
}

.cell-inner .cross {
	color: red;
}

.cell-inner .circle {
	color: blue;
}
